.services {
	padding-bottom: 150px;
	background-color: #121212;
	color: #FFFFFF;

	@media (max-width: 1199px) {
		padding-bottom: calcSize(120, 150, 960, 1200);
	}

	@media (max-width: 959px) {
		padding-bottom: calcSize(80, 120, 375, 960);
	}

	&__title {
		padding-top: 151px;
		padding-left: 3px; //pp

		@media (max-width: 959px) {
			padding-top: calcSize(80, 151, 375, 960);
		}
	}

	&__card {
		display: flex;
		flex-wrap: wrap;
		//display: grid;
		//grid-template: repeat(2, 1fr) / repeat(2, 1fr);
		gap: 85px 11px; //pp !44
		margin-bottom: 106px;

		@media (max-width: 1199px) {
			gap: calcSize(87, 85, 960, 1200) calcSize(10, 11, 960, 1200); //pp 80
			margin-bottom: calcSize(87, 57, 960, 1200); //pp 80
		}

		@media (max-width: 959px) {
			gap: calcSize(65, 87, 375, 960) 10px; //pp 60
			margin-bottom: calcSize(68, 87, 375, 960); //pp 80
		}

		@media (max-width: 767px) {
			//grid-template: repeat(4, 1fr) / repeat(1, 1fr);
			gap: calcSize(65, 80, 375, 960) 0; //pp 60
		}
	}

	&__btn {
		display: block;
		width: 100%;
		margin: auto 0;
		background: #AD1818;
		border-radius: 5px;
		text-align: center;
		font-size: 30px;
		line-height: 153px;
		color: #FFFFFF;
		letter-spacing: -0.032em; //pp

		@media (max-width: 1199px) {}

		@media (max-width: 959px) {
			border-radius: calcSize(3.8, 5, 375, 960);
			font-size: calcSize(22, 30, 375, 960);
			line-height: calcSize(100, 153, 375, 960);
		}
	}
}

.service {
	flex: 0 1 calc(50% - 5.5px);

	@media (max-width: 1000px) {
		flex: 0 1 100%;
	}

	&__image {
		position: relative;
		margin-bottom: 25px;
		height: 389px;

		@media (max-width: 1199px) {
			margin-bottom: calcSize(15, 25, 960, 1200);
			height: calcSize(315, 389, 960, 1200);
		}

		@media (max-width: 959px) {
			margin-bottom: calcSize(10, 15, 375, 960);
			height: calcSize(240, 315, 375, 960);
		}
	}

	&__image-l {
		margin-bottom: 17px;

		@media (max-width: 1199px) {
			margin-bottom: calcSize(15, 17, 960, 1200);
		}

		@media (max-width: 959px) {
			margin-bottom: calcSize(10, 15, 375, 960);
		}
	}

	&__price {
		position: absolute;
		top: 32px;
		left: 30px;
		padding: 0 21px;
		background: #AD1818;
		border-radius: 5px;
		font-size: 22px;
		line-height: 40px;

		@media (max-width: 1199px) {
			padding: 0 calcSize(26, 21, 960, 1200);
			font-size: calcSize(20, 22, 960, 1200);
		}

		@media (max-width: 959px) {
			top: calcSize(24, 32, 375, 960);
			padding: 0 calcSize(24, 26, 375, 960);
			border-radius: calcSize(3.8, 5, 375, 960);
			font-size: calcSize(14, 20, 375, 960);
			line-height: calcSize(30, 40, 375, 960);
		}
	}

	&__info {
		padding-left: 4px; //pp
		//max-width: 250px; //pp
		font-size: 30px;
		line-height: 41px;

		@media (max-width: 1199px) {
			padding-left: 0; //pp
			//max-width: 100%;
			font-size: calcSize(25, 30, 960, 1200);
			line-height: calcSize(34, 41, 960, 1200);
		}

		@media (max-width: 959px) {
			font-size: calcSize(18, 25, 375, 960);
			line-height: calcSize(25, 34, 375, 960);
		}
	}
}