@import url(https://fonts.googleapis.com/css?family=Manrope:200,regular,700);

$fontfamily: "Manrope", sans-serif;

@import "_nullstyle";

@function calcSize($f-min, $f-max, $w-min, $w-max) {
	$k: ($f-max - $f-min)/($w-max - $w-min);
	$b: $f-min - $k * $w-min;

	$b: $b * 1px;

	@return calc(#{$k} * 100vw + #{$b});
}

body {
	width: 100%;
	//overflow: hidden;
	color: #121212;
	background-color: #FFFFFF;
}

.container{
	max-width: 1180px;
	padding: 0px 15px;
	margin: 0 auto;
}

img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
}

a,
li,
h1,
h2,
h3,
img,
div,
span,
p {
	letter-spacing: -0.03em;
}

.header {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	background-color: #FFFFFF;
	z-index: 2;

	
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 1180px;
		margin: 0 auto;
		padding: 33px 15px;
	}

	&__logo {
		transform: translate(-1px, -2.8px);
		& img {
			min-width: 128px;
		}
	}
		
	&__menu {}
}

.menu {
	
	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: 10px 60.6px;
		padding-left: 70px;
	}

	&__list-item {
		font-size: 18px;
		line-height: 25px;
		text-transform: uppercase;
		vertical-align: baseline;
		transition: all 300ms ease;
		
		&:last-child{
			padding-right: 0.5px;
		}
		
		&:after {
			content: '';
			background-color: #121212;
			display: block;
			opacity: 0.5;
			width: 0%;
			height: 1px;
			transform: translateY(1px);
			transition: width 300ms ease-in-out;
			
		}

		&:hover {
			opacity: 0.5;
			
			&:after {
				width: 100%;
			}
		}
		
	}


}

.footer {
	background-color: #121212;

	&__menu {}

	&__cr {
		padding-bottom: 30px;
		padding-left: 6px;
		text-align: center;
		font-size: 20px;
		line-height: 27px;
		color: #FFFFFF;
		opacity: 0.5;

	}
}

.menu-f {
	padding-right: 11px;

	&__list {
		padding-top: 60px;
		margin-bottom: 87px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 10px 55.5px;
	}

	&__list-item {
		font-size: 18px;
		line-height: 25px;
		text-transform: uppercase;
		color: #FFFFFF;
		transition: all 200ms linear;

		&:hover {
			opacity: 0.5;
			transition: all 100ms linear;
		}
	}


}

.page {}

.start {
	
	&__title {
		margin-bottom: 30px;
		padding-top: 128px;
		max-width: 956px;
		font-size: 60px;
		line-height: 60px;
		
		@media (max-width: 704px) {
			padding-top: 100px;
		}

		@media (max-width: 452px) {
			padding-top: 130px;
		}

		@media (max-width: 426px) {
			padding-top: 180px;
		}
	}

	&__image {
		position: relative;
	}

	&__info {
		width: min(430px, 80%);
		position: absolute;
		bottom: 40px;
		left: 40px;
		font-size: 20px;
		line-height: 27px;
		color: #FFFFFF;
	}
}

.title {
	margin-bottom: 30px;
	padding-top: 150px;
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
}

.about {

	&__title {}

	&__info {
		margin-top: 5px;
		margin-bottom: 30px;
		margin-left: 2.8px;
		max-width: 1048px;
		font-size: 45px;
		line-height: 61px;
		
		& span {
			letter-spacing: -0.035em;
		}
	}

	&__link {
		display: block;
		width: 255px;
		padding: 20px 0;
		background-color: #AD1818;
		border-radius: 5px;
		text-align: center;
		font-size: 20px;
		line-height: 27px;
		color: #FFFFFF;
				
		&:visited {
			color: #FFFFFF;
		}
	}
}

.projects {

	&__title {}

	&__card {}

	&__all {
		display: block;
		margin-bottom: 150px;
		width: 100%;
		padding: 55px 0;
		border: 1px solid #AD1818;
		border-radius: 5px;
		font-size: 30px;
		line-height: 41px;
		text-align: center;
		color: #AD1818;
		transition: all 200ms linear;

		&:visited {
			color: #AD1818;
		}

		&:hover {
			background-color: #AD1818;
			color: #FFFFFF;
			transition: all 100ms linear;
		}
	}
}

.project {
	margin-bottom: 90px;

	&__image {
		margin-bottom: 15px;
	}

	&__info {
		margin-bottom: 15px;
		font-size: 30px;
		line-height: 41px;
	}

	&__link {
		font-size: 20px;
		line-height: 27px;
		color: #AD1818;
	}

	&__link-bias {
		padding-left: 2.5px;
	}
}

.services {
	padding-bottom: 150px;
	background-color: #121212;
	color: #FFFFFF;

	&__title {
		margin-bottom: 30px;
		padding-top: 151px;
		padding-left: 3px;
	}

	&__card {
		display: grid;
		grid-template: repeat(2, 1fr) / repeat(2, 1fr);
		gap: 44px 11px;
		margin-bottom: 57px;	
	}

	&__btn {
		display: block;
		width: 100%;
		height: 153px;
		margin: auto 0;
		background: #AD1818;
		border-radius: 5px;
		text-align: center;
		font-size: 30px;
		line-height: 41px;
		color: #FFFFFF;
		letter-spacing: -0.032em; //pp
	}
}

.service {
	
	&__image {
		position: relative;
		margin-bottom: 25px;
		height: 389px;
	}

	&__price {
		position: absolute;
		top: 32px;
		left: 30px;
		padding: 0 21px;
		background: #AD1818;
		border-radius: 5px;
		font-size: 22px;
		line-height: 40px;
	}

	&__info {
		padding-left: 4px;
		max-width: 250px;
		font-size: 30px;
		line-height: 41px;
	}

	&:nth-child(3) .service__image,
	&:nth-child(4) .service__image{
		margin-bottom: 17px;
	}

}

.reviews {

		&__title {}

		&__card {
			display: grid;
		}
}

.review {

		&__title {
			font-size: 45px;
			line-height: 61px;
		}

		&__description {
			margin-bottom: 50px;
			font-size: 22px;
			line-height: 30px;
		}

		&__conclusion {
			font-size: 22px;
			line-height: 30px;
		}
}


.example {

	&__image {
		position: relative;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0.52%, rgba(0, 0, 0, 0.4) 82.81%);

		& img {
			max-height: 717px;
			width: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
	
	&__info {
		width: min(443px, 80%);
		position: absolute;
		bottom: 60px;
		left: 125px;
		font-size: 30px;
		line-height: 41px;
		color: #FFFFFF;

		@media (max-width: 1404px) {
			left: calcSize(15, 125, 1180, 1404);
		}

		@media (max-width: 1180px) {
			left: 15px;
		}

		& span {
			padding-left: 5px;
		}
	}
}

.contacts {
	
	&__title {
		position: relative;
		margin-bottom: 32px;
		padding-top: 186px;
		font-size: 18px;
		line-height: 25px;
		text-transform: uppercase;

		&::before{
			content: '';
			position: absolute;
			display: block;
			left: -5px;
			bottom: calc(25px + 12px);
			width: 24px;
			height: 24px;
			background: url('../resourses/img/phone.svg') center center/auto 22px no-repeat;
			//border: 1px solid red;
		}
	}

	&__number {
		margin-bottom: 30px;
		font-size: 60px;
		line-height: 60px;

		& span {
			padding-left: 10px;
			letter-spacing: -0.025em;
		}
	}

	&__mail {
		margin-bottom: 150px;
		font-size: 60px;
		line-height: 60px;
		opacity: 0.5;
				
		& a {
			display: inline-block;
			padding-bottom: 8px;
			border-bottom: 2px solid #121212;
			color: inherit;
		}
	}
}

