@import url(https://fonts.googleapis.com/css?family=Manrope:200,regular,700);

$fontfamily: "Manrope", sans-serif;

@import "_nullstyle";

@function calcSize($f-min, $f-max, $w-min, $w-max) {
	$k: ($f-max - $f-min)/($w-max - $w-min);
	$b: $f-min - $k * $w-min;

	$b: $b * 1px;

	@return calc(#{$k} * 100vw + #{$b});
}

body {
	width: 100%;
	color: #121212;
	background-color: #FFFFFF;
}

.container{
	max-width: 1180px;
	padding: 0 15px;
	margin: 0 auto;

	@media (max-width: 767px) {
		padding: 0 calcSize(12, 15, 375, 767);
	}
}

img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
}

a,
li,
h1,
h2,
h3,
img,
div,
span,
p {
	letter-spacing: -0.03em;
}

.header {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	background-color: #FFFFFF;
	z-index: 2;

	
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 1180px;
		margin: 0 auto;
		padding: 33px 15px;

		@media (max-width: 1199px) {
			align-items: flex-start;
		}

		@media (max-width: 767px) {
			align-items: center;
			padding: calcSize(31, 33, 375, 767) calcSize(12, 15, 375, 767);
		}
	}

	&__logo {
		transform: translate(-1px, -2.8px);
		& img {
			min-width: 128px;

			@media (max-width: 767px) {
					min-width: calcSize(96, 128, 375, 767);
				}
		}
	}
		
	&__menu {}

	&__hb {
		display: none;

		@media (max-width: 1199px) {
			display: block;
			position: relative;
			width: 50px;
			height: 10px;

			&:after,
			&:before {
				content: '';
				position: absolute;
				right: 0;
				z-index: 3;
				height: 2px;
				background-color: #000000;
			}

			
			&:before {
				width: 100%;
				top: 0;
			}

			&:after{
				width: 31px;
				bottom: 0;
			}
		}

		
	}
}

.menu {
	
	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: 10px 60.6px;
		padding-left: 70px;
	}

	&__list-item {
		font-size: 18px;
		line-height: 25px;
		text-transform: uppercase;
		vertical-align: baseline;
		transition: all 300ms ease;
		
		&:last-child{
			padding-right: 0.5px;
		}
		
		&:after {
			content: '';
			background-color: #121212;
			display: block;
			opacity: 0.5;
			width: 0%;
			height: 1px;
			transform: translateY(1px);
			transition: width 300ms ease-in-out;
			
		}

		&:hover {
			opacity: 0.5;
			
			&:after {
				width: 100%;
			}
		}
		
	}

	@media (max-width: 1199px) {
		display: none;
		
	}


}

.footer {
	background-color: #121212;

	&__menu {}

	&__cr {
		padding-bottom: 30px;
		padding-left: 6px;
		text-align: center;
		font-size: 20px;
		line-height: 27px;
		color: #FFFFFF;
		opacity: 0.5;

	}
}

.menu-f {
	padding-right: 11px;

	&__list {
		padding-top: 60px;
		margin-bottom: 87px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 10px 55.5px;
	}

	&__list-item {
		font-size: 18px;
		line-height: 25px;
		text-transform: uppercase;
		color: #FFFFFF;
		transition: all 200ms linear;

		&:hover {
			opacity: 0.5;
			transition: all 100ms linear;
		}
	}


}

.page {}

.start {
	
	&__title {
		margin-bottom: 30px;
		padding-top: 128px;
		max-width: 956px;
		font-size: 60px;
		line-height: 60px;
		
		@media (max-width: 1199px) {
			max-width: calcSize(802, 956, 960, 1199);
			font-size: calcSize(50, 60, 960, 1199);
			
		}

		@media (max-width: 959px) {
			max-width: 100%;
			font-size: calcSize(30, 50, 375, 959);
			line-height:calcSize(32, 60, 375, 959);
		}

		@media (max-width: 767px) {
			margin-bottom: calcSize(25, 30, 375, 767);
			padding-top: calcSize(108, 128, 375, 767);
		}
	}

	&__image {
		position: relative;
	}

	&__info {
		width: min(430px, 80%);
		position: absolute;
		bottom: 40px;
		left: 40px;
		font-size: 20px;
		line-height: 27px;
		color: #FFFFFF;
	}
}

.title {
	margin-bottom: 30px;
	padding-top: 150px;
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
}

.about {

	&__title {}

	&__info {
		margin-top: 5px;
		margin-bottom: 30px;
		margin-left: 2.8px;
		max-width: 1048px;
		font-size: 45px;
		line-height: 61px;
		
		& span {
			letter-spacing: -0.035em;
		}
	}

	&__link {
		display: block;
		width: 255px;
		padding: 20px 0;
		background-color: #AD1818;
		border-radius: 5px;
		text-align: center;
		font-size: 20px;
		line-height: 27px;
		color: #FFFFFF;
				
		&:visited {
			color: #FFFFFF;
		}
	}
}

.projects {

	&__title {}

	&__card {}

	&__all {
		display: block;
		margin-bottom: 150px;
		width: 100%;
		padding: 55px 0;
		border: 1px solid #AD1818;
		border-radius: 5px;
		font-size: 30px;
		line-height: 41px;
		text-align: center;
		color: #AD1818;
		transition: all 200ms linear;

		&:visited {
			color: #AD1818;
		}

		&:hover {
			background-color: #AD1818;
			color: #FFFFFF;
			transition: all 100ms linear;
		}
	}
}

.project {
	margin-bottom: 90px;

	&__image {
		margin-bottom: 15px;
	}

	&__info {
		margin-bottom: 15px;
		font-size: 30px;
		line-height: 41px;
	}

	&__link {
		font-size: 20px;
		line-height: 27px;
		color: #AD1818;
	}

	&__link-bias {
		padding-left: 2.5px;
	}
}

.services {
	padding-bottom: 150px;
	background-color: #121212;
	color: #FFFFFF;

	&__title {
		margin-bottom: 30px;
		padding-top: 151px;
		padding-left: 3px;
	}

	&__card {
		display: grid;
		grid-template: repeat(2, 1fr) / repeat(2, 1fr);
		gap: 44px 11px;
		margin-bottom: 57px;	
	}

	&__btn {
		display: block;
		width: 100%;
		height: 153px;
		margin: auto 0;
		background: #AD1818;
		border-radius: 5px;
		text-align: center;
		font-size: 30px;
		line-height: 41px;
		color: #FFFFFF;
		letter-spacing: -0.032em; //pp
	}
}

.service {
	
	&__image {
		position: relative;
		margin-bottom: 25px;
		height: 389px;
	}

	&__price {
		position: absolute;
		top: 32px;
		left: 30px;
		padding: 0 21px;
		background: #AD1818;
		border-radius: 5px;
		font-size: 22px;
		line-height: 40px;
	}

	&__info {
		padding-left: 4px;
		max-width: 250px;
		font-size: 30px;
		line-height: 41px;
	}

	&:nth-child(3) .service__image,
	&:nth-child(4) .service__image{
		margin-bottom: 17px;
	}

}

.reviews {
	margin-bottom: 156px;
	
	&__title {
		margin-bottom: 31px; //pp
	}

	&__card {
		display: flex;
		flex-wrap: wrap;
		gap: 80px 54px;
	}
}

.review {
	flex: 0 1 calc(50% - 50px);

	&:last-child { //pp
		flex: 0 1 861px;
	}

	&:nth-child(2) { //pp
		flex: 0 1 505px;
	}

	&__title {
		display: block;
		margin-bottom: 14px;
		margin-left: -2px; //pp
		font-style: normal;
		font-size: 45px;
		line-height: 61px;
		letter-spacing: -0.032em; //pp
	}

	&__description {
		margin-bottom: 30px;
		font-size: 22px;
		line-height: 30px;
		letter-spacing: -0.031em; //pp
	}

	&__conclusion {
		font-size: 22px;
		line-height: 30px;
		text-indent: 2px; //pp
	}
}


.example {
	margin-bottom: 150px;

	&__image {
		position: relative;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0.52%, rgba(0, 0, 0, 0.4) 82.81%);

		& img {
			max-height: 717px;
			width: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
	
	&__title {
		position: absolute;
		top: 60px;
		left: calc((100vw - 1165px) / 2 - 1px);
		font-size: 22px;
		line-height: 30px;
		color: #FFFFFF;
		text-transform: uppercase;

		@media (max-width: 1180px) {
			left: 15px;
		}

		& span {
			padding-left: 5px;
		}
	}

	&__info {
		width: min(443px, 80%);
		position: absolute;
		bottom: 60px;
		left: calc((100vw - 1165px) / 2);
		font-size: 30px;
		line-height: 41px;
		color: #FFFFFF;

		@media (max-width: 1180px) {
			left: 15px;
		}

		& span {
			padding-left: 5px;
		}
	}
}

.contacts {
	margin-bottom: 140px;
	
	&__title {
		margin-bottom: 74px;
		font-size: 18px;
		line-height: 25px;
		text-transform: uppercase;
	}
}

.contact {
	display: flex;
	gap: 20px 105.5px;

	&__number {
		position: relative;
		font-size: 60px;
		line-height: 60px;

		& span {
			padding-left: 10px;
			letter-spacing: -0.025em;
		}

		&::before {
			content: '';
			position: absolute;
			display: block;
			left: -6px;
			bottom: 96px;
			width: 24px;
			height: 24px;
			background: url('../resourses/img/phone.svg') center center/auto 22px no-repeat;
		}
	}

	&__mail {
		position: relative;
		transform: translateY(-10px); //pp
		font-size: 60px;
		line-height: 60px;
				
		& a {
			display: inline-block;
			padding-bottom: 8px;
			border-bottom: 2px solid #121212;
			color: inherit;
			opacity: 0.5;
		}

		&::before {
			content: '';
			position: absolute;
			display: block;
			left: 0;
			bottom: 85px;
			width: 24px;
			height: 24px;
			background: url('../resourses/img/mail.svg') center center/auto 16px no-repeat;
		}
	}
}

