@import url(https://fonts.googleapis.com/css?family=Manrope:200,regular,700);

$fontfamily: "Manrope", sans-serif;

@import "_nullstyle";

@function calcSize($f-min, $f-max, $w-min, $w-max) {
	$k: ($f-max - $f-min)/($w-max - $w-min);
	$b: $f-min - $k * $w-min;

	$b: $b * 1px;

	@return calc(#{$k} * 100vw + #{$b});
}

body {
	width: 100%;
	color: #121212;
	background-color: #FFFFFF;
}

.container{
	max-width: 1180px;
	padding: 0 15px;
	margin: 0 auto;

	@media (max-width: 767px) {
		padding: 0 calcSize(12, 15, 375, 767);
	}
}

img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
}

a,
li,
h1,
h2,
h3,
img,
div,
span,
p {
	letter-spacing: -0.03em;
}

.header {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	background-color: #FFFFFF;
	z-index: 2;

	
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 1180px;
		margin: 0 auto;
		padding: 33px 15px;

		@media (max-width: 1199px) {
			align-items: flex-start;
		}

		@media (max-width: 959px) {
			align-items: center;
			padding: calcSize(31, 33, 375, 959) calcSize(12, 15, 375, 959);
		}
	}

	&__logo {
		transform: translate(-1px, -2.8px); //pp
		& img {
			width: 128px;

			@media (max-width: 767px) {
					width: calcSize(96, 128, 375, 767);
				}
		}
	}
		
	&__menu {}

	&__hb {
		display: none;

		@media (max-width: 1199px) {
			display: block;
			position: relative;
			width: 50px;
			height: 10px;

			&:after,
			&:before {
				content: '';
				position: absolute;
				right: 0;
				z-index: 3;
				height: 2px;
				background-color: #000000;
			}
			
			&:before {
				width: 100%;
				top: 0;
			}

			&:after{
				width: 31px;
				bottom: 0;
			}
		}

		@media (max-width: 959px) {
			width: 38px;
			height: 8px;

			&:after {
				width: 24px;
			}
		}

		
	}
}

.menu {
	
	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: 10px 60.6px;
		padding-left: 70px;
	}

	&__list-item {
		font-size: 18px;
		line-height: 25px;
		text-transform: uppercase;
		vertical-align: baseline;
		transition: all 300ms ease;
		
		&:last-child{
			padding-right: 0.5px;
		}
		
		&:after {
			content: '';
			background-color: #121212;
			display: block;
			opacity: 0.5;
			width: 0%;
			height: 1px;
			transform: translateY(1px);
			transition: width 300ms ease-in-out;
			
		}

		&:hover {
			opacity: 0.5;
			
			&:after {
				width: 100%;
			}
		}
		
	}

	@media (max-width: 1199px) {
		display: none;
		
	}


}

.footer {
	background-color: #121212;

	&__menu {}

	&__cr {
		padding-bottom: 30px;
		padding-left: 6px;
		text-align: center;
		font-size: 20px;
		line-height: 27px;
		color: #FFFFFF;
		opacity: 0.5;

	}
}

.menu-f {
	padding-right: 11px;

	&__list {
		padding-top: 60px;
		margin-bottom: 87px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 10px 55.5px;
	}

	&__list-item {
		font-size: 18px;
		line-height: 25px;
		text-transform: uppercase;
		color: #FFFFFF;
		transition: all 200ms linear;

		&:hover {
			opacity: 0.5;
			transition: all 100ms linear;
		}
	}
}

.page {}

.intro {
	
	&__title {
		margin-bottom: 30px;
		padding-top: 128px;
		max-width: 956px;
		font-size: 60px;
		line-height: 60px;
		
		@media (max-width: 1199px) {
			max-width: calcSize(802, 956, 960, 1200);
			font-size: calcSize(50, 60, 960, 1200);
		}

		@media (max-width: 959px) {
			margin-bottom: calcSize(25, 30, 375, 960);
			padding-top: calcSize(108, 128, 375, 960);
			max-width: calcSize(336, 802, 375, 960);
			font-size: calcSize(30, 50, 375, 960);
			line-height:calcSize(32, 60, 375, 960);
		}
	}

	&__image {
		position: relative;
		height: 500px;

		@media (max-width: 1199px) {
			height: calcSize(400, 500, 960, 1200);
		}
	
		@media (max-width: 959px) {
			height: calcSize(304, 400, 375, 960);
		}
	}

	&__info {
		position: absolute;
		bottom: 40px;
		left: 40px;
		max-width: 430px;
		font-size: 20px;
		line-height: 27px;
		color: #FFFFFF;

		@media (max-width: 1199px) {
			bottom: calcSize(30, 40, 960, 1200);
		}
	
		@media (max-width: 959px) {
			bottom: calcSize(15, 30, 375, 960);
			left: calcSize(15, 40, 375, 960);
			max-width: calcSize(312, 430, 375, 960);
			font-size: calcSize(16, 20, 375, 960);
			line-height: calcSize(22, 27, 375, 960);
		}
	}
}

.title {
	margin-bottom: 30px;
	padding-top: 150px;
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;

	@media (max-width: 1199px) {
		padding-top: calcSize(120, 150, 960, 1200);

	}

	@media (max-width: 959px) {
		margin-bottom: calcSize(20, 30, 375, 960);
		padding-top: calcSize(80, 120, 375, 960);
		font-size: calcSize(14, 18, 375, 960);
		line-height: calcSize(19, 25, 375, 960);
	}
}

.about {

	&__title {}

	&__info {
		margin-top: 5px; //pp
		margin-bottom: 30px;
		margin-left: 2.8px; //pp
		max-width: 1048px;
		font-size: 45px;
		line-height: 61px;
		
		& span {
			letter-spacing: -0.035em;
		}

		@media (max-width: 1199px) {
			margin-left: 0px; //pp
			max-width: calcSize(690, 1048, 960, 1200);
			font-size: calcSize(35, 45, 960, 1200);
			line-height: calcSize(48, 61, 960, 1200);
		}

		@media (max-width: 959px) {
			max-width: calcSize(345, 690, 375, 960);
			font-size: calcSize(22, 35, 375, 960);
			line-height: calcSize(30, 48, 375, 960);
		}
	}

	&__link {
		display: block;
		width: 255px;
		height: 67px;
		background-color: #AD1818;
		border-radius: 5px;
		text-align: center;
		font-size: 20px;
		line-height: 67px;
		color: #FFFFFF;
				
		&:visited {
			color: #FFFFFF;
		}

		@media (max-width: 959px) {
			width: calcSize(194, 255, 375, 960);
			height: calcSize(51, 67, 375, 960);
			border-radius: calcSize(3.8, 5, 375, 960);
			font-size: calcSize(16, 20, 375, 960);
			line-height: calcSize(51, 67, 375, 960);
		}
	}
}

.projects {

	&__title {}

	&__card {}

	&__all {
		display: block;
		margin-bottom: 150px;
		width: 100%;
		height: 153px;
		border: 1px solid #AD1818;
		border-radius: 5px;
		font-size: 30px;
		line-height: 153px;
		text-align: center;
		color: #AD1818;
		transition: all 200ms linear;

		&:visited {
			color: #AD1818;
		}

		&:hover {
			background-color: #AD1818;
			color: #FFFFFF;
			transition: all 100ms linear;
		}

		@media (max-width: 1199px) {
			margin-bottom: calcSize(103, 150, 960, 1200);
		}

		@media (max-width: 959px) {
			margin-bottom: calcSize(144, 103, 375, 960);
			height: calcSize(100, 153, 375, 960);
			border-radius: calcSize(3.8, 5, 375, 960);
			font-size: calcSize(22, 30, 375, 960);
			line-height: calcSize(100, 153, 375, 960);
		}
	}
}

.project {
	margin-bottom: 90px;

	@media (max-width: 1199px) {
		margin-bottom: calcSize(80, 90, 960, 1200);
	}

	@media (max-width: 959px) {
		margin-bottom: calcSize(49, 80, 375, 960);
	}

	&:last-child {
		@media (max-width: 1199px) {
			margin-bottom: calcSize(102, 90, 960, 1200);
		}
	
		@media (max-width: 959px) {
			margin-bottom: calcSize(60, 102, 375, 960);
		}
	}

	&__image {
		margin-bottom: 15px;
		height: 450px;
		
		@media (max-width: 959px) {
			margin-bottom: calcSize(20, 15, 375, 960);
			height: calcSize(250, 450, 375, 960);
		}
	}

	&__info {
		margin-bottom: 15px;
		font-size: 30px;
		line-height: 41px;

		@media (max-width: 1199px) {
			margin-bottom: calcSize(10, 15, 960, 1200);
			font-size: calcSize(25, 30, 960, 1200);
			line-height: calcSize(34, 41, 960, 1200);
		}
	
		@media (max-width: 959px) {
			margin-bottom: calcSize(11, 10, 375, 960);
			font-size: calcSize(18, 25, 375, 960);
			line-height: calcSize(25, 34, 375, 960);
		}
	}

	&__link {
		font-size: 20px;
		line-height: 27px;
		color: #AD1818;

		@media (max-width: 959px) {
			font-size: calcSize(16, 20, 375, 960);
			line-height: calcSize(22, 27, 375, 960);
		}
	}
}

.services {
	padding-bottom: 150px;
	background-color: #121212;
	color: #FFFFFF;

	@media (max-width: 1199px) {
		padding-bottom: calcSize(120, 150, 960, 1200);
	}

	@media (max-width: 959px) {
		padding-bottom: calcSize(80, 120, 375, 960);
	}

	&__title {
		padding-top: 151px;
		padding-left: 3px; //pp

		@media (max-width: 959px) {
			padding-top: calcSize(80, 151, 375, 960);
		}
	}

	&__card {
		display: grid;
		grid-template: repeat(2, 1fr) / repeat(2, 1fr);
		gap: 44px 11px; //pp 80
		margin-bottom: 57px;	//pp 106

		@media (max-width: 1199px) {
			gap: calcSize(87, 44, 960, 1200) calcSize(10, 11, 960, 1200); //pp 80
			margin-bottom: calcSize(87, 57, 960, 1200); //pp 80
		}
		
		@media (max-width: 959px) {
			gap: calcSize(65, 87, 375, 960) 10px; //pp 60
			margin-bottom: calcSize(68, 87, 375, 960); //pp 80
		}

		@media (max-width: 767px) {
			grid-template: repeat(4, 1fr) / repeat(1, 1fr);
			gap: calcSize(65, 80, 375, 960) 0; //pp 60
		}
	}

	&__btn {
		display: block;
		width: 100%;
		height: 153px;
		margin: auto 0;
		background: #AD1818;
		border-radius: 5px;
		text-align: center;
		font-size: 30px;
		line-height: 41px;
		color: #FFFFFF;
		letter-spacing: -0.032em; //pp

		@media (max-width: 1199px) {
		}
	
		@media (max-width: 959px) {
			height: calcSize(100, 153, 375, 960);
			border-radius: calcSize(3.8, 5, 375, 960);
			font-size: calcSize(22, 30, 375, 960);
			line-height: calcSize(30, 41, 375, 960);
		}
	}
}

.service {
	
	&__image {
		position: relative;
		margin-bottom: 25px;
		height: 389px;

		@media (max-width: 1199px) {
			margin-bottom: calcSize(15, 25, 960, 1200);
			height: calcSize(315, 389, 960, 1200);
		}
	
		@media (max-width: 959px) {
			margin-bottom: calcSize(10, 15, 375, 960);
			height: calcSize(240, 315, 375, 960);
		}
	}

	&__image-l {
		margin-bottom: 17px;

		@media (max-width: 1199px) {
			margin-bottom: calcSize(15, 17, 960, 1200);
		}
	
		@media (max-width: 959px) {
			margin-bottom: calcSize(10, 15, 375, 960);
		}
	}

	&__price {
		position: absolute;
		top: 32px;
		left: 30px;
		padding: 0 21px;
		background: #AD1818;
		border-radius: 5px;
		font-size: 22px;
		line-height: 40px;

		@media (max-width: 1199px) {
			padding: 0 calcSize(26, 21, 960, 1200);
			font-size: calcSize(20, 22, 960, 1200);
		}
	
		@media (max-width: 959px) {
			top: calcSize(24, 32, 375, 960);
			padding: 0 calcSize(24, 26, 375, 960);
			border-radius: calcSize(3.8, 5, 375, 960);
			font-size: calcSize(14, 20, 375, 960);
			line-height: calcSize(30, 40, 375, 960);
		}
	}

	&__info {
		padding-left: 4px; //pp
		max-width: 250px;
		font-size: 30px;
		line-height: 41px;

		@media (max-width: 1199px) {
			padding-left: 0; //pp
			max-width: 100%;
			font-size: calcSize(25, 30, 960, 1200);
			line-height: calcSize(34, 41, 960, 1200);
		}
	
		@media (max-width: 959px) {
			font-size: calcSize(18, 25, 375, 960);
			line-height: calcSize(25, 34, 375, 960);
		}
	}
}

.reviews {
	margin-bottom: 156px;

	@media (max-width: 1199px) {
		margin-bottom: calcSize(120, 156, 960, 1200);
	}

	@media (max-width: 959px) {
		margin-bottom: calcSize(80, 120, 375, 960);
	}

	&__title {
		margin-bottom: 31px; //pp 30
		
		@media (max-width: 1199px) {
			padding-top: calcSize(117, 150, 960, 1200);
			margin-bottom: 30;
		}
		
		@media (max-width: 959px) {
			padding-top: calcSize(80, 117, 375, 960);
			margin-bottom: calcSize(22, 30, 375, 960);
		}
	}

	&__card {
		display: flex;
		flex-wrap: wrap;
		gap: 80px 54px; //pp 51

		@media (max-width: 1199px) {
			gap: 78px 10px; //pp 80
		}
	
		@media (max-width: 959px) {
			gap: 77px 0; //pp 80
		}
	}
}

.review {
	flex: 0 1 calc(50% - 51px);

	@media (max-width: 1199px) {
		flex: 0 1 calc(50% - 5px);
	}

	@media (max-width: 959px) {
		flex: 1 1 100%;
	}

	&:last-child { //pp
		flex: 0 1 861px;

		@media (max-width: 1199px) {
			flex: 0 1 694px;
		}
	
		@media (max-width: 959px) {
			flex: 1 1 100%;
		}
	}

	&__title {
		display: block;
		margin-bottom: 14px;
		margin-left: -2px; //pp
		font-style: normal;
		font-size: 45px;
		line-height: 61px;
		letter-spacing: -0.032em; //pp

		@media (max-width: 1199px) {
			margin-bottom: calcSize(25, 14, 960, 1200);
			font-size: calcSize(35, 45, 960, 1200);
			line-height: calcSize(48, 61, 960, 1200);
		}
	
		@media (max-width: 959px) {
			margin-bottom: calcSize(10, 25, 375, 960);
			font-size: calcSize(25, 35, 375, 960);
			line-height: calcSize(34, 48, 375, 960);
		}
	}

	&__description {
		font-size: 22px;
		line-height: 30px;
		letter-spacing: -0.031em; //pp

		@media (max-width: 1199px) {
			font-size: calcSize(20, 22, 960, 1200);
			line-height: calcSize(27, 30, 960, 1200);
		}
	
		@media (max-width: 959px) {
			font-size: calcSize(16, 20, 375, 960);
			line-height: calcSize(22, 27, 375, 960);
			letter-spacing: -0.03em; //pp
		}
	}
}


.example {
	margin-bottom: 150px;

	&__image {
		position: relative;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0.52%, rgba(0, 0, 0, 0.4) 82.81%);

		& img {
			max-height: 717px;
			width: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
	
	&__title {
		position: absolute;
		top: 60px;
		left: calc((100vw - 1165px) / 2 - 1px);
		font-size: 22px;
		line-height: 30px;
		color: #FFFFFF;
		text-transform: uppercase;

		@media (max-width: 1180px) {
			left: 15px;
		}

		& span {
			padding-left: 5px;
		}
	}

	&__info {
		width: min(443px, 80%);
		position: absolute;
		bottom: 60px;
		left: calc((100vw - 1165px) / 2);
		font-size: 30px;
		line-height: 41px;
		color: #FFFFFF;

		@media (max-width: 1180px) {
			left: 15px;
		}

		& span {
			padding-left: 5px;
		}
	}
}

.contacts {
	margin-bottom: 140px;
	
	&__title {
		margin-bottom: 74px;
		padding-top: 0;
	}
}

.contact {
	display: flex;
	gap: 20px 105.5px;

	&__number {
		position: relative;
		font-size: 60px;
		line-height: 60px;

		& span {
			padding-left: 10px;
			letter-spacing: -0.025em;
		}

		&::before {
			content: '';
			position: absolute;
			display: block;
			left: -6px;
			bottom: 96px;
			width: 24px;
			height: 24px;
			background: url('../resourses/img/icon/phone.svg') center center/auto 22px no-repeat;
		}
	}

	&__mail {
		position: relative;
		transform: translateY(-10px); //pp
		font-size: 60px;
		line-height: 60px;
				
		& a {
			display: inline-block;
			padding-bottom: 8px;
			border-bottom: 2px solid #121212;
			color: inherit;
			opacity: 0.5;
		}

		&::before {
			content: '';
			position: absolute;
			display: block;
			left: 0;
			bottom: 85px;
			width: 24px;
			height: 24px;
			background: url('../resourses/img/icon/mail.svg') center center/auto 16px no-repeat;
		}
	}
}

