@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Manrope:200,regular,700); /*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  min-width: 375px;
}

body {
  font-family: "Manrope", sans-serif;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: "Manrope", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

* li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
/*--------------------*/
body {
  width: 100%;
  color: #121212;
  background-color: #FFFFFF;
}

.container {
  max-width: 1180px;
  padding: 0 15px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .container {
    padding: 0 calc(0.0076530612 * 100vw + 9.1301020408px);
  }
}

img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

a,
li,
h1,
h2,
h3,
img,
div,
span,
p {
  letter-spacing: -0.03em;
}

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #FFFFFF;
  z-index: 2;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1180px;
  margin: 0 auto;
  padding: 33px 15px;
}
@media (max-width: 1199px) {
  .header__inner {
    align-items: flex-start;
  }
}
@media (max-width: 767px) {
  .header__inner {
    align-items: center;
    padding: calc(0.0051020408 * 100vw + 29.0867346939px) calc(0.0076530612 * 100vw + 9.1301020408px);
  }
}
.header__logo {
  transform: translate(-1px, -2.8px);
}
.header__logo img {
  min-width: 128px;
}
@media (max-width: 767px) {
  .header__logo img {
    min-width: calc(0.0816326531 * 100vw + 65.387755102px);
  }
}
.header__hb {
  display: none;
}
@media (max-width: 1199px) {
  .header__hb {
    display: block;
    position: relative;
    width: 50px;
    height: 10px;
  }
  .header__hb:after, .header__hb:before {
    content: "";
    position: absolute;
    right: 0;
    z-index: 3;
    height: 2px;
    background-color: #000000;
  }
  .header__hb:before {
    width: 100%;
    top: 0;
  }
  .header__hb:after {
    width: 31px;
    bottom: 0;
  }
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 60.6px;
  padding-left: 70px;
}
.menu__list-item {
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  vertical-align: baseline;
  transition: all 300ms ease;
}
.menu__list-item:last-child {
  padding-right: 0.5px;
}
.menu__list-item:after {
  content: "";
  background-color: #121212;
  display: block;
  opacity: 0.5;
  width: 0%;
  height: 1px;
  transform: translateY(1px);
  transition: width 300ms ease-in-out;
}
.menu__list-item:hover {
  opacity: 0.5;
}
.menu__list-item:hover:after {
  width: 100%;
}
@media (max-width: 1199px) {
  .menu {
    display: none;
  }
}

.footer {
  background-color: #121212;
}
.footer__cr {
  padding-bottom: 30px;
  padding-left: 6px;
  text-align: center;
  font-size: 20px;
  line-height: 27px;
  color: #FFFFFF;
  opacity: 0.5;
}

.menu-f {
  padding-right: 11px;
}
.menu-f__list {
  padding-top: 60px;
  margin-bottom: 87px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px 55.5px;
}
.menu-f__list-item {
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: all 200ms linear;
}
.menu-f__list-item:hover {
  opacity: 0.5;
  transition: all 100ms linear;
}

.start__title {
  margin-bottom: 30px;
  padding-top: 128px;
  max-width: 956px;
  font-size: 60px;
  line-height: 60px;
}
@media (max-width: 1199px) {
  .start__title {
    max-width: calc(0.6443514644 * 100vw + 183.4225941423px);
    font-size: calc(0.0418410042 * 100vw + 9.8326359833px);
  }
}
@media (max-width: 959px) {
  .start__title {
    max-width: 100%;
    font-size: calc(0.0342465753 * 100vw + 17.1575342466px);
    line-height: calc(0.0479452055 * 100vw + 14.0205479452px);
  }
}
@media (max-width: 767px) {
  .start__title {
    margin-bottom: calc(0.012755102 * 100vw + 20.2168367347px);
    padding-top: calc(0.0510204082 * 100vw + 88.8673469388px);
  }
}
.start__image {
  position: relative;
}
.start__info {
  width: min(430px, 80%);
  position: absolute;
  bottom: 40px;
  left: 40px;
  font-size: 20px;
  line-height: 27px;
  color: #FFFFFF;
}

.title {
  margin-bottom: 30px;
  padding-top: 150px;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
}

.about__info {
  margin-top: 5px;
  margin-bottom: 30px;
  margin-left: 2.8px;
  max-width: 1048px;
  font-size: 45px;
  line-height: 61px;
}
.about__info span {
  letter-spacing: -0.035em;
}
.about__link {
  display: block;
  width: 255px;
  padding: 20px 0;
  background-color: #AD1818;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
  line-height: 27px;
  color: #FFFFFF;
}
.about__link:visited {
  color: #FFFFFF;
}

.projects__all {
  display: block;
  margin-bottom: 150px;
  width: 100%;
  padding: 55px 0;
  border: 1px solid #AD1818;
  border-radius: 5px;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
  color: #AD1818;
  transition: all 200ms linear;
}
.projects__all:visited {
  color: #AD1818;
}
.projects__all:hover {
  background-color: #AD1818;
  color: #FFFFFF;
  transition: all 100ms linear;
}

.project {
  margin-bottom: 90px;
}
.project__image {
  margin-bottom: 15px;
}
.project__info {
  margin-bottom: 15px;
  font-size: 30px;
  line-height: 41px;
}
.project__link {
  font-size: 20px;
  line-height: 27px;
  color: #AD1818;
}
.project__link-bias {
  padding-left: 2.5px;
}

.services {
  padding-bottom: 150px;
  background-color: #121212;
  color: #FFFFFF;
}
.services__title {
  margin-bottom: 30px;
  padding-top: 151px;
  padding-left: 3px;
}
.services__card {
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(2, 1fr);
  gap: 44px 11px;
  margin-bottom: 57px;
}
.services__btn {
  display: block;
  width: 100%;
  height: 153px;
  margin: auto 0;
  background: #AD1818;
  border-radius: 5px;
  text-align: center;
  font-size: 30px;
  line-height: 41px;
  color: #FFFFFF;
  letter-spacing: -0.032em;
}

.service__image {
  position: relative;
  margin-bottom: 25px;
  height: 389px;
}
.service__price {
  position: absolute;
  top: 32px;
  left: 30px;
  padding: 0 21px;
  background: #AD1818;
  border-radius: 5px;
  font-size: 22px;
  line-height: 40px;
}
.service__info {
  padding-left: 4px;
  max-width: 250px;
  font-size: 30px;
  line-height: 41px;
}
.service:nth-child(3) .service__image, .service:nth-child(4) .service__image {
  margin-bottom: 17px;
}

.reviews {
  margin-bottom: 156px;
}
.reviews__title {
  margin-bottom: 31px;
}
.reviews__card {
  display: flex;
  flex-wrap: wrap;
  gap: 80px 54px;
}

.review {
  flex: 0 1 calc(50% - 50px);
}
.review:last-child {
  flex: 0 1 861px;
}
.review:nth-child(2) {
  flex: 0 1 505px;
}
.review__title {
  display: block;
  margin-bottom: 14px;
  margin-left: -2px;
  font-style: normal;
  font-size: 45px;
  line-height: 61px;
  letter-spacing: -0.032em;
}
.review__description {
  margin-bottom: 30px;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: -0.031em;
}
.review__conclusion {
  font-size: 22px;
  line-height: 30px;
  text-indent: 2px;
}

.example {
  margin-bottom: 150px;
}
.example__image {
  position: relative;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0.52%, rgba(0, 0, 0, 0.4) 82.81%);
}
.example__image img {
  max-height: 717px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.example__title {
  position: absolute;
  top: 60px;
  left: calc((100vw - 1165px) / 2 - 1px);
  font-size: 22px;
  line-height: 30px;
  color: #FFFFFF;
  text-transform: uppercase;
}
@media (max-width: 1180px) {
  .example__title {
    left: 15px;
  }
}
.example__title span {
  padding-left: 5px;
}
.example__info {
  width: min(443px, 80%);
  position: absolute;
  bottom: 60px;
  left: calc((100vw - 1165px) / 2);
  font-size: 30px;
  line-height: 41px;
  color: #FFFFFF;
}
@media (max-width: 1180px) {
  .example__info {
    left: 15px;
  }
}
.example__info span {
  padding-left: 5px;
}

.contacts {
  margin-bottom: 140px;
}
.contacts__title {
  margin-bottom: 74px;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
}

.contact {
  display: flex;
  gap: 20px 105.5px;
}
.contact__number {
  position: relative;
  font-size: 60px;
  line-height: 60px;
}
.contact__number span {
  padding-left: 10px;
  letter-spacing: -0.025em;
}
.contact__number::before {
  content: "";
  position: absolute;
  display: block;
  left: -6px;
  bottom: 96px;
  width: 24px;
  height: 24px;
  background: url("../resourses/img/phone.svg") center center/auto 22px no-repeat;
}
.contact__mail {
  position: relative;
  transform: translateY(-10px);
  font-size: 60px;
  line-height: 60px;
}
.contact__mail a {
  display: inline-block;
  padding-bottom: 8px;
  border-bottom: 2px solid #121212;
  color: inherit;
  opacity: 0.5;
}
.contact__mail::before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: 85px;
  width: 24px;
  height: 24px;
  background: url("../resourses/img/mail.svg") center center/auto 16px no-repeat;
}