@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Manrope:200,regular,700);
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  min-width: 375px;
}

body {
  font-family: "Manrope", sans-serif;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: "Manrope", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

* li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
/*--------------------*/
body {
  width: 100%;
  color: #121212;
  background-color: #FFFFFF;
}

.container {
  max-width: 1180px;
  padding: 0 15px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .container {
    padding: 0 calc(0.0076530612 * 100vw + 9.1301020408px);
  }
}

img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

a,
li,
h1,
h2,
h3,
img,
div,
span,
p {
  letter-spacing: -0.03em;
}

.title {
  margin-bottom: 30px;
  padding-top: 150px;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
}
@media (max-width: 1199px) {
  .title {
    padding-top: calc(0.125 * 100vw + 0px);
  }
}
@media (max-width: 959px) {
  .title {
    margin-bottom: calc(0.0170940171 * 100vw + 13.5897435897px);
    padding-top: calc(0.0683760684 * 100vw + 54.358974359px);
    font-size: calc(0.0068376068 * 100vw + 11.4358974359px);
    line-height: calc(0.0102564103 * 100vw + 15.1538461538px);
  }
}

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #FFFFFF;
  z-index: 2;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1180px;
  margin: 0 auto;
  padding: 33px 15px;
}
@media (max-width: 1199px) {
  .header__inner {
    align-items: flex-start;
  }
}
@media (max-width: 959px) {
  .header__inner {
    align-items: center;
    padding: calc(0.0034246575 * 100vw + 29.7157534247px) calc(0.0051369863 * 100vw + 10.073630137px);
  }
}
.header__logo {
  transform: translate(-1px, -2.8px);
}
@media (max-width: 767px) {
  .header__logo {
    transform: translate(0, 0);
  }
}
.header__logo img {
  width: 128px;
}
@media (max-width: 767px) {
  .header__logo img {
    width: calc(0.0816326531 * 100vw + 65.387755102px);
  }
}
.header__hb {
  display: none;
}
@media (max-width: 1199px) {
  .header__hb {
    display: block;
    position: relative;
    width: 50px;
    height: 10px;
  }
  .header__hb:after, .header__hb:before {
    content: "";
    position: absolute;
    right: 0;
    z-index: 3;
    height: 2px;
    background-color: #000000;
  }
  .header__hb:before {
    width: 100%;
    top: 0;
  }
  .header__hb:after {
    width: 31px;
    bottom: 0;
  }
}
@media (max-width: 959px) {
  .header__hb {
    width: 38px;
    height: 8px;
  }
  .header__hb:after {
    width: 24px;
  }
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 60.6px;
  padding-left: 70px;
}
.menu__list-item {
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  vertical-align: baseline;
  transition: all 300ms ease;
}
.menu__list-item:last-child {
  padding-right: 0.5px;
}
.menu__list-item:after {
  content: "";
  background-color: #121212;
  display: block;
  opacity: 0.5;
  width: 0%;
  height: 1px;
  transform: translateY(1px);
  transition: width 300ms ease-in-out;
}
.menu__list-item:hover {
  opacity: 0.5;
}
.menu__list-item:hover:after {
  width: 100%;
}
@media (max-width: 1199px) {
  .menu {
    display: none;
  }
}

.footer {
  background-color: #121212;
}
.footer__cr {
  padding-bottom: 30px;
  padding-left: 6px;
  text-align: center;
  font-size: 20px;
  line-height: 27px;
  color: #FFFFFF;
  opacity: 0.5;
}

.menu-f {
  padding-right: 11px;
}
.menu-f__list {
  padding-top: 60px;
  margin-bottom: 87px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px 55.5px;
}
.menu-f__list-item {
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: all 200ms linear;
}
.menu-f__list-item:hover {
  opacity: 0.5;
  transition: all 100ms linear;
}

.intro__title {
  margin-bottom: 30px;
  padding-top: 128px;
  max-width: 956px;
  font-size: 60px;
  line-height: 60px;
}
@media (max-width: 1199px) {
  .intro__title {
    max-width: calc(0.6416666667 * 100vw + 186px);
    font-size: calc(0.0416666667 * 100vw + 10px);
  }
}
@media (max-width: 959px) {
  .intro__title {
    margin-bottom: calc(0.0085470085 * 100vw + 21.7948717949px);
    padding-top: calc(0.0341880342 * 100vw + 95.1794871795px);
    max-width: calc(0.7965811966 * 100vw + 37.2820512821px);
    font-size: calc(0.0341880342 * 100vw + 17.1794871795px);
    line-height: calc(0.0478632479 * 100vw + 14.0512820513px);
  }
}
.intro__image {
  position: relative;
  height: 500px;
}
@media (max-width: 1199px) {
  .intro__image {
    height: calc(0.4166666667 * 100vw + 0px);
  }
}
@media (max-width: 959px) {
  .intro__image {
    height: calc(0.1641025641 * 100vw + 242.4615384615px);
  }
}
.intro__info {
  position: absolute;
  bottom: 40px;
  left: 40px;
  max-width: 430px;
  font-size: 20px;
  line-height: 27px;
  color: #FFFFFF;
}
@media (max-width: 1199px) {
  .intro__info {
    bottom: calc(0.0416666667 * 100vw + -10px);
  }
}
@media (max-width: 959px) {
  .intro__info {
    bottom: calc(0.0256410256 * 100vw + 5.3846153846px);
    left: calc(0.0427350427 * 100vw + -1.0256410256px);
    max-width: calc(0.2017094017 * 100vw + 236.358974359px);
    font-size: calc(0.0068376068 * 100vw + 13.4358974359px);
    line-height: calc(0.0085470085 * 100vw + 18.7948717949px);
  }
}

.about__info {
  margin-top: 5px;
  margin-bottom: 30px;
  margin-left: 2.8px;
  width: 1048px;
  font-size: 45px;
  line-height: 61px;
}
.about__info span {
  letter-spacing: -0.035em;
}
@media (max-width: 1199px) {
  .about__info {
    margin-left: 0px;
    width: calc(1.4916666667 * 100vw + -742px);
    font-size: calc(0.0416666667 * 100vw + -5px);
    line-height: calc(0.0541666667 * 100vw + -4px);
  }
}
@media (max-width: 959px) {
  .about__info {
    width: calc(0.5897435897 * 100vw + 123.8461538462px);
    font-size: calc(0.0222222222 * 100vw + 13.6666666667px);
    line-height: calc(0.0307692308 * 100vw + 18.4615384615px);
  }
}
.about__link {
  display: block;
  width: 255px;
  background-color: #AD1818;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
  line-height: 67px;
  color: #FFFFFF;
}
.about__link:visited {
  color: #FFFFFF;
}
@media (max-width: 959px) {
  .about__link {
    width: calc(0.1042735043 * 100vw + 154.8974358974px);
    border-radius: calc(0.0020512821 * 100vw + 3.0307692308px);
    font-size: calc(0.0068376068 * 100vw + 13.4358974359px);
    line-height: calc(0.0273504274 * 100vw + 40.7435897436px);
  }
}

.projects__all {
  display: block;
  margin-bottom: 150px;
  width: 100%;
  border: 1px solid #AD1818;
  border-radius: 5px;
  font-size: 30px;
  line-height: 151px;
  text-align: center;
  color: #AD1818;
  transition: all 200ms linear;
}
.projects__all:visited {
  color: #AD1818;
}
.projects__all:hover {
  background-color: #AD1818;
  color: #FFFFFF;
  transition: all 100ms linear;
}
@media (max-width: 1199px) {
  .projects__all {
    margin-bottom: calc(0.1958333333 * 100vw + -85px);
  }
}
@media (max-width: 959px) {
  .projects__all {
    margin-bottom: calc(-0.0700854701 * 100vw + 170.2820512821px);
    border-radius: calc(0.0020512821 * 100vw + 3.0307692308px);
    font-size: calc(0.0136752137 * 100vw + 16.8717948718px);
    line-height: calc(0.0905982906 * 100vw + 64.0256410256px);
  }
}

.project {
  margin-bottom: 90px;
}
@media (max-width: 1199px) {
  .project {
    margin-bottom: calc(0.0416666667 * 100vw + 40px);
  }
}
@media (max-width: 959px) {
  .project {
    margin-bottom: calc(0.052991453 * 100vw + 29.1282051282px);
  }
}
@media (max-width: 1199px) {
  .project:last-child {
    margin-bottom: calc(-0.05 * 100vw + 150px);
  }
}
@media (max-width: 959px) {
  .project:last-child {
    margin-bottom: calc(0.0717948718 * 100vw + 33.0769230769px);
  }
}
.project__image {
  margin-bottom: 15px;
  height: 450px;
}
@media (max-width: 959px) {
  .project__image {
    margin-bottom: calc(-0.0085470085 * 100vw + 23.2051282051px);
    height: calc(0.3418803419 * 100vw + 121.7948717949px);
  }
}
.project__info {
  margin-bottom: 15px;
  font-size: 30px;
  line-height: 41px;
}
@media (max-width: 1199px) {
  .project__info {
    margin-bottom: calc(0.0208333333 * 100vw + -10px);
    font-size: calc(0.0208333333 * 100vw + 5px);
    line-height: calc(0.0291666667 * 100vw + 6px);
  }
}
@media (max-width: 959px) {
  .project__info {
    margin-bottom: calc(-0.0017094017 * 100vw + 11.641025641px);
    font-size: calc(0.011965812 * 100vw + 13.5128205128px);
    line-height: calc(0.0153846154 * 100vw + 19.2307692308px);
  }
}
.project__link {
  font-size: 20px;
  line-height: 27px;
  color: #AD1818;
}
@media (max-width: 959px) {
  .project__link {
    font-size: calc(0.0068376068 * 100vw + 13.4358974359px);
    line-height: calc(0.0085470085 * 100vw + 18.7948717949px);
  }
}

.services {
  padding-bottom: 150px;
  background-color: #121212;
  color: #FFFFFF;
}
@media (max-width: 1199px) {
  .services {
    padding-bottom: calc(0.125 * 100vw + 0px);
  }
}
@media (max-width: 959px) {
  .services {
    padding-bottom: calc(0.0683760684 * 100vw + 54.358974359px);
  }
}
.services__title {
  padding-top: 151px;
  padding-left: 3px;
}
@media (max-width: 959px) {
  .services__title {
    padding-top: calc(0.1213675214 * 100vw + 34.4871794872px);
  }
}
.services__card {
  display: flex;
  flex-wrap: wrap;
  gap: 85px 11px;
  margin-bottom: 106px;
}
@media (max-width: 1199px) {
  .services__card {
    gap: calc(-0.0083333333 * 100vw + 95px) calc(0.0041666667 * 100vw + 6px);
    margin-bottom: calc(-0.125 * 100vw + 207px);
  }
}
@media (max-width: 959px) {
  .services__card {
    gap: calc(0.0376068376 * 100vw + 50.8974358974px) 10px;
    margin-bottom: calc(0.0324786325 * 100vw + 55.8205128205px);
  }
}
@media (max-width: 767px) {
  .services__card {
    gap: calc(0.0256410256 * 100vw + 55.3846153846px) 0;
  }
}
.services__btn {
  display: block;
  width: 100%;
  margin: auto 0;
  background: #AD1818;
  border-radius: 5px;
  text-align: center;
  font-size: 30px;
  line-height: 153px;
  color: #FFFFFF;
  letter-spacing: -0.032em;
}
@media (max-width: 959px) {
  .services__btn {
    border-radius: calc(0.0020512821 * 100vw + 3.0307692308px);
    font-size: calc(0.0136752137 * 100vw + 16.8717948718px);
    line-height: calc(0.0905982906 * 100vw + 66.0256410256px);
  }
}

.service {
  flex: 0 1 calc(50% - 5.5px);
}
@media (max-width: 1000px) {
  .service {
    flex: 0 1 100%;
  }
}
.service__image {
  position: relative;
  margin-bottom: 25px;
  height: 389px;
}
@media (max-width: 1199px) {
  .service__image {
    margin-bottom: calc(0.0416666667 * 100vw + -25px);
    height: calc(0.3083333333 * 100vw + 19px);
  }
}
@media (max-width: 959px) {
  .service__image {
    margin-bottom: calc(0.0085470085 * 100vw + 6.7948717949px);
    height: calc(0.1282051282 * 100vw + 191.9230769231px);
  }
}
.service__image-l {
  margin-bottom: 17px;
}
@media (max-width: 1199px) {
  .service__image-l {
    margin-bottom: calc(0.0083333333 * 100vw + 7px);
  }
}
@media (max-width: 959px) {
  .service__image-l {
    margin-bottom: calc(0.0085470085 * 100vw + 6.7948717949px);
  }
}
.service__price {
  position: absolute;
  top: 32px;
  left: 30px;
  padding: 0 21px;
  background: #AD1818;
  border-radius: 5px;
  font-size: 22px;
  line-height: 40px;
}
@media (max-width: 1199px) {
  .service__price {
    padding: 0 calc(-0.0208333333 * 100vw + 46px);
    font-size: calc(0.0083333333 * 100vw + 12px);
  }
}
@media (max-width: 959px) {
  .service__price {
    top: calc(0.0136752137 * 100vw + 18.8717948718px);
    padding: 0 calc(0.0034188034 * 100vw + 22.7179487179px);
    border-radius: calc(0.0020512821 * 100vw + 3.0307692308px);
    font-size: calc(0.0102564103 * 100vw + 10.1538461538px);
    line-height: calc(0.0170940171 * 100vw + 23.5897435897px);
  }
}
.service__info {
  padding-left: 4px;
  font-size: 30px;
  line-height: 41px;
}
@media (max-width: 1199px) {
  .service__info {
    padding-left: 0;
    font-size: calc(0.0208333333 * 100vw + 5px);
    line-height: calc(0.0291666667 * 100vw + 6px);
  }
}
@media (max-width: 959px) {
  .service__info {
    font-size: calc(0.011965812 * 100vw + 13.5128205128px);
    line-height: calc(0.0153846154 * 100vw + 19.2307692308px);
  }
}

.reviews {
  margin-bottom: 156px;
}
@media (max-width: 1199px) {
  .reviews {
    margin-bottom: calc(0.15 * 100vw + -24px);
  }
}
@media (max-width: 959px) {
  .reviews {
    margin-bottom: calc(0.0683760684 * 100vw + 54.358974359px);
  }
}
.reviews__title {
  margin-bottom: 31px;
}
@media (max-width: 1199px) {
  .reviews__title {
    padding-top: calc(0.1375 * 100vw + -15px);
    margin-bottom: 30;
  }
}
@media (max-width: 959px) {
  .reviews__title {
    padding-top: calc(0.0632478632 * 100vw + 56.2820512821px);
    margin-bottom: calc(0.0136752137 * 100vw + 16.8717948718px);
  }
}
.reviews__card {
  display: flex;
  flex-wrap: wrap;
  gap: 80px 54px;
}
@media (max-width: 1199px) {
  .reviews__card {
    gap: 78px 10px;
  }
}
@media (max-width: 959px) {
  .reviews__card {
    gap: 77px 0;
  }
}

.review {
  flex: 0 1 calc(50% - 51px);
}
@media (max-width: 1199px) {
  .review {
    flex: 0 1 calc(50% - 5px);
  }
}
@media (max-width: 959px) {
  .review {
    flex: 1 1 100%;
  }
}
.review:last-child {
  flex: 0 1 861px;
}
@media (max-width: 1199px) {
  .review:last-child {
    flex: 0 1 694px;
  }
}
@media (max-width: 959px) {
  .review:last-child {
    flex: 1 1 100%;
  }
}
.review__title {
  display: block;
  margin-bottom: 14px;
  margin-left: -2px;
  font-style: normal;
  font-size: 45px;
  line-height: 61px;
  letter-spacing: -0.032em;
}
@media (max-width: 1199px) {
  .review__title {
    margin-bottom: calc(-0.0458333333 * 100vw + 69px);
    font-size: calc(0.0416666667 * 100vw + -5px);
    line-height: calc(0.0541666667 * 100vw + -4px);
  }
}
@media (max-width: 959px) {
  .review__title {
    margin-bottom: calc(0.0256410256 * 100vw + 0.3846153846px);
    font-size: calc(0.0170940171 * 100vw + 18.5897435897px);
    line-height: calc(0.0239316239 * 100vw + 25.0256410256px);
  }
}
.review__description {
  font-size: 22px;
  line-height: 30px;
  letter-spacing: -0.031em;
}
@media (max-width: 1199px) {
  .review__description {
    font-size: calc(0.0083333333 * 100vw + 12px);
    line-height: calc(0.0125 * 100vw + 15px);
  }
}
@media (max-width: 959px) {
  .review__description {
    font-size: calc(0.0068376068 * 100vw + 13.4358974359px);
    line-height: calc(0.0085470085 * 100vw + 18.7948717949px);
    letter-spacing: -0.03em;
  }
}

.gallery {
  margin-bottom: 150px;
}
.gallery__image {
  position: relative;
  height: 717px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0.52%, rgba(0, 0, 0, 0.4) 82.81%);
}
.gallery__image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.gallery__title {
  position: absolute;
  top: 60px;
  left: calc((100vw - 1165px) / 2 - 1px);
  font-size: 22px;
  line-height: 30px;
  color: #FFFFFF;
  text-transform: uppercase;
}
@media (max-width: 1180px) {
  .gallery__title {
    left: 15px;
  }
}
.gallery__title span {
  padding-left: 5px;
}
.gallery__info {
  width: min(443px, 80%);
  position: absolute;
  bottom: 60px;
  left: calc((100vw - 1165px) / 2);
  font-size: 30px;
  line-height: 41px;
  color: #FFFFFF;
}
@media (max-width: 1180px) {
  .gallery__info {
    left: 15px;
  }
}
.gallery__info span {
  padding-left: 5px;
}

.contacts {
  margin-bottom: 140px;
}
.contacts__title {
  margin-bottom: 74px;
  padding-top: 0;
}

.contact {
  display: flex;
  gap: 20px 105.5px;
}
.contact__number {
  position: relative;
  font-size: 60px;
  line-height: 60px;
}
.contact__number span {
  padding-left: 10px;
  letter-spacing: -0.025em;
}
.contact__number::before {
  content: "";
  position: absolute;
  display: block;
  left: -6px;
  bottom: 96px;
  width: 24px;
  height: 24px;
  background: url("../resourses/img/icon/phone.svg") center center/auto 22px no-repeat;
}
.contact__mail {
  position: relative;
  transform: translateY(-10px);
  font-size: 60px;
  line-height: 60px;
}
.contact__mail a {
  display: inline-block;
  padding-bottom: 8px;
  border-bottom: 2px solid #121212;
  color: inherit;
  opacity: 0.5;
}
.contact__mail::before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: 85px;
  width: 24px;
  height: 24px;
  background: url("../resourses/img/icon/mail.svg") center center/auto 16px no-repeat;
}